@model Equipe

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/reset-and-basics.css">
    <link rel="stylesheet" href="~/css/equipes.css">
</head>

<h1>Edicao de Equipe</h1>

<form class="frm-cad-equipe" method="post" action='@Url.Action("Atualizar")' enctype="multipart/form-data">
    <input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

    <label for="">Nome</label>
    <input type="text" name="Nome" value="@ViewBag.Equipe.Nome">

    <label for="">Imagem</label>
    <input type="file" name="Imagem" value="@ViewBag.Equipe.Imagem">

    <button type="submit">Atualizar</button>
</form>

