/**************************************** Configurações Gerais *****************************************************/
*[b-o1kv28jvte] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body[b-o1kv28jvte] {
    background-color: #1B1426;
}

/* importe de fontes */
@font-face {
    font-family: Inter;
    src: url(../Assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: QuickSand;
    src: url(../Assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: Titillium-regular;
    src: url(../Assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: Titillium-Semibold;
    src: url(../Assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: Titillium-bold;
    src: url(../Assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: Titillium-black;
    src: url(../Assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

/*********************** Header ****************************/

/****************************************** Container Grid *********************************************************/
.container-grid[b-o1kv28jvte] {
    width: 90%;
    margin: 0 auto;
    max-width: 768px;
}

header[b-o1kv28jvte] {
    background-color: #1B1426;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-mobile[b-o1kv28jvte] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/********************************************* Menu Mobile1 ******************************************************/
.menu-mobile1[b-o1kv28jvte] {
    background: linear-gradient(to bottom, rgba(27, 20, 38, 0.8), rgba(27, 20, 38, 0.4));
    height: 80vh;
    width: 80vw;
    position: fixed;
    left: -80vw;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}

.mobile-apenas[b-o1kv28jvte] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75%;
    width: 100%;
}

.mobile-apenas .contato-tele[b-o1kv28jvte] {
    font-family: Inter;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

.mobile-apenas .contato-email[b-o1kv28jvte] {
    font-family: Inter;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

.mobile-apenas .contato-icons[b-o1kv28jvte] {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px 10px;
}

.contato[b-o1kv28jvte] {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    margin-top: 20px;
}

.icon[b-o1kv28jvte] {
    height: 40px;
    width: 40px;
}

nav[b-o1kv28jvte] {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

nav a[b-o1kv28jvte] {
    text-decoration: none;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.linha[b-o1kv28jvte] {
    background-color: #F9AA01;
    border-style: none;
    height: 3px;
    width: 100%;
}

/********************************************* Menu Mobile2 ******************************************************/
.menu-mobile2[b-o1kv28jvte] {
    position: fixed;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: -30vw;
    width: 20%;
    height: 180px;
    background: linear-gradient(to bottom, rgba(27, 20, 38, 0.8), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(5px);
}

.icon-menu[b-o1kv28jvte] {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.icon2[b-o1kv28jvte] {
    width: 20px;
    height: 20px;
}

/**************************************************** Funcionalidades ********************************************************/
.MostrarMenu[b-o1kv28jvte] {
    left: 0;
}

.MostrarMenu2[b-o1kv28jvte] {
    right: 0;
}

/* icones */
.logo-pc[b-o1kv28jvte],
.contato-icons[b-o1kv28jvte],
.contato-tele[b-o1kv28jvte],
.contato-email[b-o1kv28jvte] {
    display: none;
}

/**************** Final do Header *******************/

/***************************************************** Rodapé ************************************************************/
footer[b-o1kv28jvte] {
    background-image: url(../Assets/images/backgroung_footer.svg);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1550px;
}

.footer-flex[b-o1kv28jvte] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer h3[b-o1kv28jvte] {
    font-family: Titillium-black;
    font-size: 30px;
    color: white;
}

footer hr[b-o1kv28jvte] {
    border: 1px solid #F9AA01;
    width: 130px;
}

.footer-c1[b-o1kv28jvte] {
    font-family: titillium-bold;
    font-size: 16px;
    color: #F9AA01;
}

.footer-c2[b-o1kv28jvte] {
    font-family: titillium-bold;
    font-size: 16px;
    color: #ffffff;
}

.logo-footer[b-o1kv28jvte] {
    display: none;
}

footer aside[b-o1kv28jvte] {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-b1[b-o1kv28jvte],
.footer-b2[b-o1kv28jvte],
.footer-b3[b-o1kv28jvte],
.footer-b4[b-o1kv28jvte] {
    width: 100%;
}

.footer-b1[b-o1kv28jvte] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.footer-b1 p[b-o1kv28jvte] {
    font-family: QuickSand;
    font-size: 14px;
    color: white;
}

.footer-b2 li[b-o1kv28jvte]::before {
    content: url(../Assets/icons/Line\ 33.svg);
}

.footer-b2 li[b-o1kv28jvte] {
    width: 110px;
}

.footer-b2 ul[b-o1kv28jvte] {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-b2 a[b-o1kv28jvte] {
    font-family: Titillium-bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.footer-b4[b-o1kv28jvte] {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.separacao[b-o1kv28jvte] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

footer .digite-email[b-o1kv28jvte] {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
    color: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
}

.digite-email[b-o1kv28jvte]::placeholder {
    color: white;
}

.footer-b4 button[b-o1kv28jvte] {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: #1B1426;
    background-color: #F9AA01;
    font-family: Titillium-bold;
    font-size: 24px;
}

.footer-final[b-o1kv28jvte] {
    position: absolute;
    bottom: 1%;
}

footer .retorne[b-o1kv28jvte] {
    width: 60px;
    height: 60px;
    background-color: #F9AA01;
    border: none;
    border-radius: 8px;
    position: relative;
    left: 82%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p[b-o1kv28jvte] {
    font-family: Titillium-regular;
    font-size: 14px;
    color: white;
}

input:focus[b-o1kv28jvte] {
    background: #1B1426;
    color: #F9AA01;
}


/**************************************************************************************************************************************************************/
/************************************************* Parte dedicada ao desktop configuracao CSS total************************************************************/
/**************************************************************************************************************************************************************/

@media screen and (min-width:992px) {

    /******************************************* Configuracoes gerais ********************************************************/
    .container-grid[b-o1kv28jvte] {
        max-width: 1440px;
    }

    .menu-mobile[b-o1kv28jvte] {
        display: none;
    }

    [b-o1kv28jvte]::-webkit-scrollbar {
        width: 10px;
    }

    [b-o1kv28jvte]::-webkit-scrollbar-track {
        background-color: #ff0043;
        border-radius: 30px;
    }

    [b-o1kv28jvte]::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 30px;
    }

    /******************************************* Cabecalho ********************************************************/
    header[b-o1kv28jvte] {
        height: 140px;
        position: initial;
    }

    .logo-pc[b-o1kv28jvte] {
        display: block;
        width: 195px;
        height: 55px;
    }

    .header-top[b-o1kv28jvte] {
        border-bottom: 2px solid #F9AA01;
    }

    .header-top-flex[b-o1kv28jvte] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }

    .header-bottom[b-o1kv28jvte] {
        height: 88px;
        border-bottom: 2px solid #F9AA01;
    }

    .header-bottom-flex[b-o1kv28jvte] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90px;
    }

    .contato-icons[b-o1kv28jvte] {
        display: flex;
        justify-content: space-between;
        width: 130px;
        height: 60%;
    }

    .separacao-con[b-o1kv28jvte] {
        display: flex;
        justify-content: space-between;
        width: 400px;
        color: white;
    }

    .icon2[b-o1kv28jvte] {
        width: 25px;
        height: 25px;
    }

    .contato-tele[b-o1kv28jvte],
    .contato-email[b-o1kv28jvte] {
        display: flex;
        align-items: center;
    }

    .menu-mobile1[b-o1kv28jvte] {
        position: static;
        background: transparent;
        backdrop-filter: none;
        flex-direction: row;
        height: auto;
        width: 400px;
    }

    .menu-mobile1 nav[b-o1kv28jvte] {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    nav a:hover[b-o1kv28jvte] {
        color: #F9AA01;
    }

    .menu-mobile1 .linha[b-o1kv28jvte] {
        display: none;
    }

    .menu-mobile2[b-o1kv28jvte] {
        position: static;
        background: transparent;
        backdrop-filter: none;
        width: 130px;
        height: auto;
    }

    .icon-menu[b-o1kv28jvte] {
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile-apenas[b-o1kv28jvte] {
        display: none;
    }

    /***************************************************** Rodapé ************************************************************/
    footer[b-o1kv28jvte] {
        height: 530px;
    }

    .logo-footer[b-o1kv28jvte] {
        display: block;
        width: 196px;
        height: 56px;
    }

    .footer-flex[b-o1kv28jvte] {
        flex-direction: row;
    }

    .footer-b1[b-o1kv28jvte],
    .footer-b2[b-o1kv28jvte],
    .footer-b3[b-o1kv28jvte],
    .footer-b4[b-o1kv28jvte] {
        height: 80%;
        width: 22%;
    }

    .footer-final[b-o1kv28jvte] {
        bottom: 3%;
    }

    .icon-footer[b-o1kv28jvte] {
        width: 40px;
        height: 40px;
    }

    .footer-b1 p[b-o1kv28jvte] {
        font-size: 16px;
        text-align: justify;
    }

    .footer-b2 ul[b-o1kv28jvte] {
        display: block;
        flex-wrap: nowrap;
    }

    footer aside[b-o1kv28jvte] {
        width: 80%;
    }

    .footer-b4 button[b-o1kv28jvte],
    footer .digite-email[b-o1kv28jvte] {
        height: 44px;
    }

    .retorne[b-o1kv28jvte] {
        height: 60px !important;
    }
}